<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns="http://logging.apache.org/log4j/2.0/config">
    <Properties>
        <Property name="filename">logs/smartphonesApp/log4j2_fdv.log</Property>
    </Properties>
    <Appenders>
        <!-- Console Appender -->
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | - %m%n"/>
        </Console>
        <!-- File Appender -->
        <File name="FILE" fileName="${filename}" append="true">
            <PatternLayout pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | - %m%n"/>
            <!--            <PatternLayout>    <pattern>%d %p %C{1.} [%t] %m%n</pattern>-->
            <!--            </PatternLayout>-->
        </File>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="FILE"/>
        </Root>
    </Loggers>
</Configuration>
